body {
  background-color: #808080;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h2 {
  font-weight: bold;
  font-size: 2.7rem;
  text-decoration: underline;
}

h3 {
  display: inline-block;
  margin: 30px;
  font-style: italic;
}

h1 {
  font-size: 3.5rem;
}

img {
  height: 300px;
  margin: 30px;
  padding: 30px;
}

h4 {
  font: bold;
}

hr {
  border-top: dotted 5px;
  width: 30%;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2rem;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: underline;
  color: #67df55;
  font-size: 1.5rem;
}

/* class */

.header {
  font-family: 'Roboto Slab', serif;
  background-color: #3d3d3d;
  color: #67df55;
  padding: 80px 0;
}

.companyname {
  text-decoration: underline;
  font-size: 4rem;
}

.about {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  padding: 60px 0;
}

.p-head {
  font-weight: bold;
  font-size: 2.5rem;
  width: 30%;
  position: relative;
  left: 35%;
  padding-top: 60px;
  padding-bottom: 50px;
}

.lights {
  position: relative;
  float: left;
}

.logo {
  position: relative;
  float: right;
}

.row-1 {
  display: inline-block;
}

.row-2 {
  display: inline-block;
}

.row-header {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin: 60px auto 30px auto;
  position: relative;
  text-decoration: underline;
}

.row-text {
  text-align: left;
  position: relative;
  margin: auto;
  width: 80%;
  font-weight: 500;
  color: #000000;
  line-height: 1.5;
  font-size: 1.2rem;
}

.row-header2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 30px;
  text-align: right;
  margin-top: 60px;
  position: relative;
  text-decoration: underline;
}

.row-text2 {
  text-align: right;
  position: relative;
  margin: auto;
  width: 50%;
  font-weight: 500;
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact {
  padding-bottom: 50px;
}

.ul {
  padding-top: 30px;
}
.li {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}

.footer {
  background-color: #000000;
  color: #67df55;
  padding-top: 50px;
  padding-bottom: 40px;
}

.p-foot {
  color: gray;
  font-size: .9rem;
  padding-top: 20px;
}
